<div class="background"
     style="background-image:url('{{#if use_thumbnails}}{{content.thumbnail}}{{else}}{{content.url}}{{/if}}');
            background-position:{{content.x}}px {{content.y}}px;">
</div>