<div id="{{id}}" class="page" style="padding:{{padding}}px">
  <div class="r h100">
    <div class="c col-xs-6">
      <div id="{{id}}_content1" class="content {{isEmpty content1}}">
        {{{renderContent content1 true}}}
      </div>
    </div>
    <div class="c col-xs-6">
      <div id="{{id}}_content2" class="content {{isEmpty content2}}">
        {{{renderContent content2 true}}}
      </div>
    </div>
  </div>
</div>
