<li id="{{id}}" class="item" style="padding:{{padding}}px">
  <div class="content">
    {{{renderContent content1 false}}}
  </div>
</li>
<li class="item" style="padding:{{padding}}px">
  <div class="content">
    {{{renderContent content2 false}}}
  </div>
</li>
<li class="item" style="padding:{{padding}}px">
  <div class="content">
    {{{renderContent content3 false}}}
  </div>
</li>
