<li id="{{id}}" class="item" style="padding:{{padding}}px">
  <div class="r h50">
    <div class="c col-xs-12">
      <div class="content">
        {{{renderContent content1 false}}}
      </div>
    </div>
  </div>
  <div class="r h50">
    <div class="c col-xs-12">
      <div class="content">
        {{{renderContent content2 false}}}
      </div>
    </div>
  </div>
</li>
<li class="item" style="padding:{{padding}}px">
  <div class="r h50">
    <div class="c col-xs-12">
      <div class="content">
        {{{renderContent content3 false}}}
      </div>
    </div>
  </div>
  <div class="r h50">
    <div class="c col-xs-12">
      <div class="content">
        {{{renderContent content4 false}}}
      </div>
    </div>
  </div>
</li>
